---
import { getCollection } from "astro:content";
import MainLayout from "../../../layouts/MainLayout.astro";
import PaperCard from "../../../components/PaperCard.astro";

export async function getStaticPaths() {
  const allPapers = await getCollection("paper");
  const tags = new Set();
  allPapers.forEach((paper) => {
    paper.data.tags.forEach((tag) => {
      tags.add(tag);
    });
  });
  return Array.from(tags).map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params as { tag: string }; // 获取动态路由参数并指定类型
const allPapers = await getCollection("paper");

// 根据标签过滤文章
const filteredPosts = allPapers.filter(paper => paper.data.tags.includes(tag));
---

<MainLayout hideSidebar={true}>
  <h1 class="text-2xl font-bold text-center text-gray-800">{tag}</h1>
  <ul>
    {filteredPosts.length > 0 ? (
      filteredPosts.map((paper) => (
        <PaperCard
          title={paper.data.title}
          date={paper.data.published.toLocaleDateString("default").slice(0, 10)}
          authors={paper.data.authors}
          url={`/paper/${paper.slug}/`}
        />
      ))
    ) : (
      <li>No paper found for this tag.</li>
    )}
  </ul>
</MainLayout>
