---
const { title, date, description, url } = Astro.props;
---

<!-- <div
  class="p-4 bg-white rounded-lg shadow hover:shadow-md transition-shadow duration-200"
>
  <a
    href={url}
    class="block mb-2 text-lg font-semibold  hover:text-black transition-colors duration-200"
    >{title}</a
  >
  <div class="flex justify-between items-center text-sm">
    <p class="text-gray-600 flex-grow">{description}</p>
    <span class="text-gray-500 ml-4">{date}</span>
  </div>
</div> -->
<div
  class="rounded-xl border px-4 py-2 shadow-lg mb-5 flex justify-between items-center bg-white"
>
  <div class="flex-grow">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <span class="w-1 h-6 bg-blue-600 mr-3 rounded mt-3"></span>
        <h1 class="text-xl font-bold text-black leading-none">
          <a
            href={url}
            class="hover:no-underline hover:text-blue-600 text-black">{title}</a
          >
        </h1>
      </div>
    </div>
    <div class="flex justify-between">
      <p class="mt-2 text-gray-600">{description}</p>
      <div class="flex items-center text-sm text-gray-500 ml-4">
        <svg
          class="w-4 h-4 mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 2a1 1 0 012 0v1h4V2a1 1 0 112 0v1h1a2 2 0 012 2v11a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h1V2zM4 7v9a1 1 0 001 1h10a1 1 0 001-1V7H4zm3 4a1 1 0 000 2h6a1 1 0 100-2H7z"
          ></path>
        </svg>
        {date}
      </div>
    </div>
  </div>

</div>
