---
import { site, info } from "../consts";
---

<aside
  class="md:w-[200px] md:fixed h-full bg-white max-md:mt-0 shadow-md rounded-lg md:p-4 max-md:p-2"
>
  <div class="md:text-center flex items-center md:block">
    <img
      class="w-[80px] h-[80px] md:w-[150px] md:h-[150px] rounded-full md:mx-auto shadow-lg border-2 md:border-4 border-gray-200"
      src={site.avatar}
      alt={site.author}
    />
    <div class="ml-3 md:ml-0 flex-grow">
      <h2 class="md:mt-4 mb-0 md:mb-1 text-base md:text-xl font-semibold">
        {site.author}
        <br class="md:hidden" />
        <span class="md:hidden text-sm">{site.author_CN}</span>
        <br class="hidden md:inline" />
        <span class="hidden md:inline">{site.author_CN}</span>
      </h2>
      <p class="text-gray-600 text-xs md:text-sm md:block">
        {site.description}
      </p>
    </div>

    <!-- 移动端显示的社交图标 -->
    <ul class="flex md:hidden items-center mt-2">
      {
        info.social.map((social, index) => (
          <li
            class={`mx-2 flex items-center justify-center ${index === 0 ? "pt-2" : ""}`}
          >
            <a href={social.link}>
              <i
                class={`${social.icon} ${social.color} text-3xl align-middle`}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- 桌面端显示的联系信息 -->
  <ul class="hidden md:block mt-6">
    <li
      class="hover:bg-gray-100 rounded-md transition duration-300 ease-in-out"
    >
      <div class="icon-column text-blue-500">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="text-column">{info.location.name}</div>
    </li>
    {
      info.social.map((social) => (
        <li class="hover:bg-gray-100 rounded-md transition duration-300 ease-in-out">
          <div class={`icon-column ${social.color}`}>
            <i class={social.icon} />
          </div>
          <div class="text-column">
            <a href={social.link} class="hover:text-blue-600">
              {social.name}
            </a>
          </div>
        </li>
      ))
    }
  </ul>
  
</aside>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  @media (min-width: 768px) {
    li {
      display: flex;
      align-items: center;
      margin: 10px 0;
      padding: 8px;
    }
    .icon-column {
      width: 30px;
      display: flex;
      justify-content: center;
    }
    .text-column {
      flex-grow: 1;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  a:hover {
    text-decoration: none;
  }
</style>
